<header>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="logo">
          <img src="https://www.themoviedb.org/static_cache/v4/logos/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg" alt="Logomarca">
        </div>
        <div class="nav">
          <ul>
            <a [routerLink]="['/discover']"><li>Explorar</li></a>
            <a [routerLink]="['/movies']"><li>Filmes</li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="logo">
          <img src="https://www.themoviedb.org/static_cache/v4/logos/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg" alt="Logomarca">
        </div>
        <a class="link" href="">Junte-se a Comunidade</a>
      </div>
      <div class="col-md-9">
        <div class="box-nav">
          <div class="nav-bottom">
            <ul>
              <li class="title">O BÁSICO</li>
              <li>Sobre o TMDb</li>
              <li>Contate-nos</li>
              <li>Suporte</li>
              <li>API</li>
              <li>Blog</li>
              <li>Ajuda</li>
            </ul>
          </div>
          <div class="nav-bottom">
            <ul>
              <li class="title">ENVOLVA-SE</li>
              <li>Bíblia do Colaborador</li>
              <li>Aplicativos de terceiros</li>
              <li>Adicionar um novo filme</li>
              <li>Adicionar uma nova série</li>
            </ul>
          </div>
          <div class="nav-bottom">
            <ul>
              <li class="title">COMUNIDADE</li>
              <li>Colaboradores</li>
              <li>Fóruns</li>
              <li>Twitter</li>
              <li>Facebook</li>
              <li>Google+</li>
            </ul>  
          </div>
          <div class="nav-bottom">
            <ul>
                <li class="title">LEGALIDADE</li>
                <li>Termos de uso</li>
                <li>Política de privacidade</li>
              </ul>  
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

